/* 超过750px */
@media screen and (min-width:750px){
    html{
        font-size:75px !important;
    }
}
*{
    margin:0;
    padding: 0;
}
html,body{
    width:10rem;
    overflow-x: hidden;
    margin: 0 auto;
}
li{
    list-style: none;
}
#search-nav-wrapper{
    width: 100%;
}
.search-wrapper{
    padding:0 0.4rem;
    font-size: 0.32rem;
    height: 1rem;
    overflow: hidden;
    color: #fff;
    background:#4cc8ab;
}
.search-box{
    width: 6.666667rem;
    float: left;
    margin-top: 0.2rem;
    height:0.8rem;
    background: #a6e4d5;
    border-radius: 0.4rem;
}
.search-box input{
    background: transparent;
    font-size: 0.32rem;
    width: calc(100% - 1.2rem);
    margin-left: 0.8rem;
    height: 0.8rem;
    line-height: 0.8rem;
    border:0;
}
.search-box input:focus{ 
    outline:none;
}
.search-left,
.search-right{
    width: 1.266667rem;
    line-height: 1rem;
    cursor: pointer;
}
.search-left{
    float: left;
}
.search-right{
    float: right;
    text-align: right;
}
.search-right>img{
    width:0.453333rem;
    height: 0.373333rem;
    position: relative;
    top: 0.133333rem;
}
.nav-wrapper{
    position: relative;
}
.nav-wrapper img{
    width: 100%;
}
.nav-box{
    position: absolute;
    top: 1.333333rem;
    padding:0 0.4rem;
    font-size: 0.32rem;
}
.nav-box ul{
    width: 8rem;
    padding: 0.666667rem 0.6rem 0.533333rem 0.6rem;
    background: #fff;
    border-radius: 0.066667rem;
    overflow: hidden;
    box-shadow: 0px 0.04rem 0.093333rem -0.066667rem #8c8c8c;
}
.nav-box ul>li{
    width: 2.666667rem;
    float: left;
    color: #333;
    text-align: center;
}
.nav-box ul>li>div{
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 auto;
    border-radius: 50% 50%;
}
.nav-box ul>li:nth-child(1)>div{
    background-image:url('../Images/ico1.png');
    background-size: 100% 100%;
}
.nav-box ul>li:nth-child(2)>div{
    background-image:url('../Images/ico2.png');
    background-size: 100% 100%;
}
.nav-box ul>li:nth-child(3)>div{
    background-image:url('../Images/ico3.png');
    background-size: 100% 100%;
}
.nav-box ul>li:nth-child(4)>div{
    background-image:url('../Images/ico4.png');
    background-size: 100% 100%;
}
.nav-box ul>li:nth-child(5)>div{
    background-image:url('../Images/ico5.png');
    background-size: 100% 100%;
}
.nav-box ul>li:nth-child(6)>div{
    background-image:url('../Images/ico6.png');
    background-size: 100% 100%;
}
.nav-box ul>li>span{
    line-height: 0.666667rem;
}
.nav-seat{
    height: 1.6rem;
    background: #fff;
}
/* 工具 */
.tool-wrapper{
    width: 9.2rem;
    margin: 0 auto;
}
.tool-content{
    width: 3.6rem;
    padding: 0.466667rem 0.373333rem;
    position: relative;
}
.tool-content:first-child{
    float: left;
    background-color: #edf9f6;
}
.tool-content:last-child{
    float: right;
    background-color: #e9f1fb;
}
.tool-content>img{
    float: left;
    height: 1rem;
}
.tool-content>div{
    float: right;
    position: absolute;
    right: 0.373333rem;
}
.tool-content>div>div{
    overflow: hidden;               /*把超出的内容进行隐藏*/
    white-space: nowrap;          /*设置内容不换行*/
    text-overflow: ellipsis;   
}
.tool-content>div>div:first-child{
    font-size: 0.373333rem;
}
.tool-content>div>div:last-child{
    font-size: 0.226667rem
}